[submodule "worlds/_manual"]
	path = worlds/_manual
	url = https://github.com/ManualForArchipelago/Manual
[submodule "worlds/mlss"]
	path = worlds/mlss
	url = https://github.com/jamesbrq/ArchipelagoMLSS
