[submodule "worlds/_manuel"]
	path = worlds/_manuel
	url = https://github.com/ManualForArchipelago/Manual
[submodule "worlds/mlss"]
	path = worlds/mlss
	url = https://github.com/jamesbrq/ArchipelagoMLSS
